body {
  font-family: 'Fira Sans';
  text-align: center;
  font-size: 150%;
  color: #333;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

#contact {
  position: fixed;
  top: 2.2em;
  right: 2em;
  color: #333;
}
